# Exercise-1
Given two integer numbers return their product. If the product is greater than 1000, then return their sum.

In [12]:
def func(num1,num2):
    if(num1 * num1)>1000:
        return num1+num2
    else:
        return num1*num2

func(10,20)

200

# Exercise-2
Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration
 print the sum of the current number and previous number

In [14]:
counter = 0
lists = range(10)
print(lists)
for x in lists:
    if counter != 0:
        sum = x + lists[counter-1]
    else:
        sum = x 
    print(f"{x}-->{sum}")
    counter +=1

range(0, 10)
0-->0
1-->1
2-->3
3-->5
4-->7
5-->9
6-->11
7-->13
8-->15
9-->17

# Exercise 3
Print First 10 natural numbers using while loop.

In [16]:
natural_numbers = range(1,100,1)
counter = 0
while counter < 10:
    print(natural_numbers[counter])
    counter += 1

1
2
3
4
5
6
7
8
9
10

# Exercise 4
Accept number from user and calculate the sum of all number from 1 to a given number

In [34]:
user_input = int(input("Enter a Number: "))
sum = 0
for x in range(1,user_input+1):
    print(x)
    sum += int(x)
print(sum)

Enter a Number: 5
1
2
3
4
5
15

# Exercise 5 
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.

In [37]:
lists = [10,20,3,40,170,35]
for x in lists:
    if(x > 150):
        break
    elif(x//5):
        print(x)
    else:
        pass

10
20
40

# Exercise 6
Reverse the following list using for loop

In [45]:
my_list=[1,2,3,4,5]
output_list = []
index = len(my_list)
for x in range(index):
    output_list.append(my_list[index-1])
    index -= 1
print(output_list)

[5, 4, 3, 2, 1]

# Exercise 7
Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function

In [47]:
print('My', 'Name', 'Is', 'Tamim',sep = '**')

My**Name**Is**Tamim

# Exercise 8
Concatenate two lists index-wise

In [51]:
list1 = ["Dhk","Khl","ctg","syt"]
list2 = ["100","200","300","400"]
list3 = []
counter = 0
for x in list1:
    list3.append(x+list2[counter])
    counter = counter +1
print(list3)

['Dhk100', 'Khl200', 'ctg300', 'syt400']

# Exercise 9
Given a Python list of numbers. Turn every item of a list into its square

In [53]:
list1 = [2,4,5,6,7,8]
square_list = []
for x in list1:
    square_list.append(x*x)
print(square_list)

[4, 16, 25, 36, 49, 64]

# Exercise 10
Access value 20 from the following tuple -> aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [55]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
value = aTuple[1][1]
print(value)

20